body{

    font-family: Verdana, Geneva, Tahoma, sans-serif;
    
}

.pic{
   
    width: 350px;
    height: 200px;
  
}

.card{
   
    padding: 20px;
    background: rgb(186, 201, 201);

    display: flex;
    justify-content: space-around;

    margin-left: 300px;
    margin-right: 300px;
    margin-top: 130px;

    text-align: center;

    border-bottom: 6px solid rgb(43, 41, 48);
    
    
}



